:root {
    font-size: 16px;
    --font-family: Groches, "Manifest Heavy",  "Gainsborough Sans Regular", sans-serif, system-ui;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    width: 100vw;

    /* Descendants: */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr !important;
}


.about-images {

    height: 100%;
    width: 100%;

    /* Descendants */ 
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.about-images > img {

    height: 100%;
    object-fit: cover;

    width: 100%;
}


.about-section {

    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
}


.about-text {

    display: flex;
    flex-direction: column;
    font-family: "Signika Light";
    gap: 40px;
    padding-top: 50px;
}


.about-text > h1, 
.about-text > button {

    font-family: var(--font-family);
}


.about-text > button {

    background-color: #293b59;
    border-style: none;
    color: #ffffff;
    font-size: 1.2rem;
    height: 50px;
    width: 100px;
}


.contact-data {
    
    /* Descendants: */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


.contact-data > input {

    border: none;
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 600;
    height: 60px;
    padding: 0 20px;
}


.contact-form {
    
    height: 80%;
    width: 100%;

    /* Descendants: */
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


.contact-form > h1 {
    
    font-family: var(--font-family);
    text-align: center;
}


.container {

    height: 100%;
    width: 100%;

    /* Descendants: */
    align-items: center;
    display: flex;
    justify-content: center;
}



#content {
    padding: 50px;
    position: relative;
}


.emailAndBtn {

    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}


.emailAndBtn > * {

    border: none;
    border-radius: 10px;
    height: 50px;
}


.emailAndBtn > input {

    font-family: var(--font-family);
    padding: 0 20px;
    width: 75%;
}


.emailAndBtn > button {
    
    background-color: #ffffff;
    cursor: pointer;
    font-family: var(--font-family);
    text-align: center;
    width: 100px;
}


@font-face {
    font-family: Groches;
    src: 
        url(assets/fonts/groches-webfont.woff2),
        url(assets/fonts/groches-webfont.woff);
}


@font-face {
    font-family: "Manifest Heavy";
    src: 
        url(assets/fonts/manifest-heavy-webfont.woff2),
        url(assets/fonts/manifest-heavy-webfont.woff);
}


@font-face {
    font-family: "Gainsborough Sans Regular";
    src: 
        url(assets/fonts/gainsboroughsans-regular-webfont.woff2),
        url(assets/fonts/gainsboroughsans-regular-webfont.woff);
}


form {

    background-color: #293b59;
    border: none;
    border-radius: 20px;
    flex: 1;
    width: 75%;
    padding: 30px 40px;

    /* Descendants: */
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@font-face {
    font-family: "Signika Light";
    src: url(assets/fonts/signika-light-webfont.woff2),
        url(assets/fonts/signika-light-webfont.woff);
}


.footer {

    background-color: #293b59;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    margin-top: 100px;
    padding: 40px 0px 0px 40px;
}


.footer > div {

    color: #edf4fa;
    font-family: "Signika Light";

    /* Descendants: */
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
}


.footer-heading {

    font-family: var(--font-family);

}


header {
    border: 3px solid #293b59;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
   
}


img[src='../src/assets/images/omelette.jpg'] {

    height: 85%;
    position: absolute;
    width: 93%;
}


img[src='../src/assets/images/cola-braised-ribs.jpeg'] {

    grid-column: 1 / 3;
    grid-row: 1 / -1;

}


img[src='../src/assets/images/carmy-tina.jpeg'] {

    grid-column: 3 / 4;
    grid-row: 1 / 3;
    object-position: 60% 0%;
}


img[src='../src/assets/images/carmy-syd.jpg'] {

    grid-column: 3 / 4;
    grid-row: 3 / 4;
    object-position: 80% 50%;
}


.information {

    display: flex;
    flex-direction: column;
    gap: 10px;
}


hr {

    border: none; /* Remove the default border */
    border-top: 2px solid #293b59; /* Add a top border with your color */
    width: 15%;
}


.logo > h1,
nav > button,
.welcome-heading > button {
    font-family: var(--font-family);
}


.logo {
    align-items: center;
    background-color: #293b59;
    color: #edf4fa;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    
}


.menu-container {

    height: 75%;
    width: 100%;

    /* Descendants: */
    column-gap: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 70px;
}


.menu-item {

    display: flex;
    flex-direction: column;
    gap: 25px;
}


.menu-item > img {

    height: 200px;
    width: 100%
}


.menu-item > p {

    font-family: "Signika Light";
    line-height: 1.5rem;
    text-align: center;
}


.menu-section { 
    height: 100%;
    width: 100%;
}



nav {
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    padding-right: 25px;
}


nav > button:last-child {
    background-color: #293b59;
    color: #ffffff;
    height: 45%;
    width: 20%;
}


.navigation-button {
    background-color: #ffffff;
    border-style: none;
    font-size: 1.2rem;
    height: 35%;
    text-align: center;
    width: 10%;
}


.our-menu {

    height: 25%;
    margin-bottom: 50px;
    width: 100%;

    /* Descendants: */
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Manifest Heavy";

    gap: 40px;
    justify-content: center;

}


.our-menu > p {

    height: 25%;
    line-height: 2rem;
}


textarea {

    border: none;
    border-radius: 10px;
    font-family: var(--font-family);
    font-size: 1rem;
    height: 150px;
    padding: 20px 20px;
    resize: none;
    width: 100%;
}


.text-and-button {

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}


.text-and-button > button {

    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    font-size: 1rem;
    height: 50px;
    text-align: center;
    width: 100px;
}


.welcome-heading {
    color: #293b59;
    font-size: 4rem;
    font-family: "Manifest Heavy";
}


.welcome-section {
    background-color: #ffffff;
    height: 40%;
    position: absolute;
    top: 60%;
    width: 40%;

    /* Descendants */
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}


.welcome-section > button {
    align-self: start;
    background-color: #293b59;
    border-style: none;
    color: #ffffff;
    font-family: var(--font-family);
    font-size: 1.2rem;
    height: 30%;
    width: 30%;
}

